<ul class="nav justify-content-center bg-transparent">
    <li class="nav-item">
        <a class="nav-link" href="javascript:AjaxHelper.RenderBody('/Home/PictureViewer');">PictureViewer</a>
    </li>
</ul>
